<div class="wrapper" style="width: 800px; margin: 0 auto;">
    <div style="text-align: center; font-weight: 600; font-size: 70px; margin: 2rem 0;">
        <a href="http://localhost:4200" style="text-decoration: none; color: #00c5b2;">eCart</a>
        <img src="http://localhost:8080/media/sys_master/h4f/560577956824952.png" alt="">
    </div>
    <div class="text" style="line-height: 2; margin-bottom: 3rem;">
        <p style="text-align: center; font-size: 26px;">Hey, [[${firstName}]] [[${lastName}]],</p>
        <p style="text-align: center; font-size: 26px;">
            Below is the password reset link that you have requested: <br/>
            <a th:href="@{http://localhost:4200/auth/change-password(token=${token})}">Password reset link</a>
        </p>
        <p style="text-align: center;font-size: 26px;">
            Please keep in mind it is only available for 30 minutes.</p>
    </div>

    <div class="thank-message" style="text-align: center; font-size: 26px; margin-bottom: 1rem;">
        If the request was not made by you, please ignore this email!
    </div>
    <div class="signature" style="text-align: center; font-size: 20px;">
        Best regards, eCart Team
    </div>
</div>