@mixin flex-horizontal-center-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-horizontal-center-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
