@mixin flex-horizontal-center-col {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-horizontal-center-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin table-items {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 1rem 2rem;
    text-align: center;
    //border-bottom: 1px solid #ddd;
  }

  th {
    font-weight: normal;
    font-size: .875rem;
    color: #666;
    background: #eee;
    /*  以下２行で見出しを固定  */
    position: sticky;
    top: 0;
  }

  img {
    width: 60px;
    display: block;
    margin: 0 auto .5rem;
  }

  tbody tr:last-child {
    border-bottom: 1px solid #ddd;
  }

  thead th {
    font-size: 20px;
  }

  tbody {
    font-size: 20px;
  }

  tbody td:last-child {
    padding: 18px;
  }
}

@mixin create-btn-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

@mixin modal-save-btn {
  width: 147px;
  min-width: 140px;
  background-color: #455c91;
  color: white;
  border: none;
  font-size: 1em;
  padding: 8px 25px;

  border-radius: 8px;
  border-bottom: 1px solid #c2c2c2;
}

@mixin add-to-basket {
  .add-to-basket {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border: 1px solid #979797;
    box-shadow: 0 6px 12px 0 #0000000f;
    padding: 8px 12px;
    border-radius: 24px;
    transition: all 100ms ease-in-out;

    &:hover {
      background: #00c5b2;
      color: #ffffff;
      border: 1px solid #00c5b2;
    }
  }
}
