/* You can add global styles to this file, and also import other style files */
@use 'reset';

@import '../node_modules/angular-notifier/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "../node_modules/tippy.js/dist/tippy.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$base-color-green: #00c5b2;
$base-color-white: #e4e6eb;

.wrapper-1300 {
  width: 1300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.wrapper-1500 {
  width: 1500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-bold-600 {
  font-weight: 600;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.notifier__notification {
  align-items: baseline;
}

.notifier__notification svg {
  vertical-align: text-top;
}

.nav-link__active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.category-nav__active {
  color: black !important;
}

.text-green {
  color: $base-color-green;
}

.text-red {
  color: #dc292f;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}
