<app-admin-header></app-admin-header>

<main>

  <h1 class="text-center">Admin Services</h1>

  <div class="services text-center">
    <div class="container">
      <div class="row">
        <div class="col mr-30">
          <figure class="service-fig">
            <img src="../../../assets/images/Cockpit/add-product.png" alt="">
            <figcaption>
              <h2 class="mt-20">Add Product</h2>
            </figcaption>
          </figure>
        </div>
        <div class="col mr-30">
          <figure class="service-fig">
            <img src="../../../assets/images/Cockpit/update-product.png" alt="">
            <figcaption>
              <h2 class="mt-20">Update Product</h2>
            </figcaption>
          </figure>
        </div>
        <div class="col">
          <figure class="service-fig">
            <img src="../../../assets/images/Cockpit/remove-product.png" alt="">
            <figcaption>
              <h2 class="mt-20">Remove Product</h2>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</main>
