<app-admin-header></app-admin-header>

<main>
  <h1 class="text-center mb-30">Admin Services</h1>
  <h2 class="text-center mb-30">Welcome, {{username$ | async}}</h2>

  <div class="services text-center">
    <div class="container">
      <div class="row mb-30">
        <div class="col mr-30">
          <a href="" routerLink="/admin/categories">
            <figure class="service-fig">
              <img src="../../../assets/images/Cockpit/categories.png" alt="">
              <figcaption>
                <h2 class="mt-20">Categories</h2>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col mr-30">
          <a href="javascript:void(0)" routerLink="/admin/update-product">
            <figure class="service-fig">
              <img src="../../../assets/images/Cockpit/product.png" alt="">
              <figcaption>
                <h2 class="mt-20">Products</h2>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col mr-30">
          <a href="javascript:void(0)" routerLink="/admin/medias">
            <figure class="service-fig">
              <img src="../../../assets/images/Cockpit/image-.png" alt="">
              <figcaption>
                <h2 class="mt-20">Medias</h2>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
