<!--<app-admin-header></app-admin-header>-->

<!--<main>-->
<!--  <form action="#" method="POST" class="form" novalidate>-->
<!--    <h3 class="form-title">Create Product</h3>-->
<!--    <div class="grid-2">-->
<!--      <div class="form-controll">-->
<!--        <div class="form-input">-->
<!--          <input type="text" name="productName" id="product-name" required>-->
<!--          <label for="product-name">Product Name</label>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-controll">-->
<!--        <div class="form-input">-->
<!--          <input type="text" name="last_name" id="last_name" required>-->
<!--          <label for="last_name">Product Price</label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div id="media-control" class="form-controll">-->
<!--      <div id="media-form-input" class="form-input">-->
<!--        <button id="category-media" type="button" (click)="handleMediaUploadClick()">Upload Media</button>-->
<!--        <button id="find-media" type="button" data-bs-toggle="modal" data-bs-target="#modal">Find Media</button>-->
<!--        <input (change)="onMediaUpload($event)" name="media" #mediaInput id="category-media-input"-->
<!--               type="file" accept="image/*"/>-->
<!--        <label for="category-media">Category Media</label>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-controll">-->
<!--      <div class="form-input">-->
<!--        <input type="email" name="email" id="email" required>-->
<!--        <label for="email">E-mail</label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-submit">-->
<!--      <button type="submit">Register</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</main>-->
