.login-heading {
  color: #999;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-wrapper {
  width: 40%;
  padding:20px 70px 70px 70px;

  -webkit-box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.2);


  & > .nav-pills, & > .tab-content {
    width: 100%;
  }

  & .submit-btn {
    width: 100%;
  }
}

.error-messages {
  position: relative;
  bottom: 1.4rem;
}

.social {
  color: #66f;
}

@media screen and (max-width: 800px) {
  .register-wrapper {
    width: 100% !important;
  }
}
