$font-family: 'Roboto', sans-serif;
$base-color: #00c5b2;

@import "../../../common";

a {
  color: inherit;
}

.nav {
  @include nav-styles();


  &__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
  }

  .user-items {
    display: flex;
    gap: 1rem;

    transition: all 300ms ease-in-out;
  }

  .user-items:hover {
    cursor: pointer;
  }

  .user-items fa-icon {
    font-size: 40px;
  }
}
