@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import "../../../common";

main {
  max-width: 1355px;
  margin: 0 auto;

  .banner-wrapper {
    @include flex-horizontal-center-row();
    justify-content: space-between;

    img {
      height: 670px;
    }
  }

  .pros {
    @include flex-horizontal-center-row();
    justify-content: space-between;

    & img {
      width: 100px;
      transition: all 300ms ease-in-out;
    }

    & img:hover {
      transform: scale(1.15);
    }

    .pro {
      max-width: 400px;

      figure {
        @include flex-horizontal-center-row();
        text-align: center;
      }
    }
  }

  @include category-styles();
}
