<app-header></app-header>

<div class="payment-success">
  <div class="header">
    <i class="ion-close-round close"></i>
  </div>
  <div class="body">
    <h2 class="title">Payment Successful</h2>
    <img class="main-img mt-40 mb-40" src="http://localhost:8080/media/sys_master/h4f/178087549807360.png" alt="">
    <p>Your payment was successful! <br/> You can now continue using eCart.</p>
    <button class="btn btn-primary" (click)="this.router.navigate(['/home'])">Back to Home page</button>
  </div>
</div>
