<div class="payment-success">
  <div class="header">
    <i class="ion-close-round close"></i>
  </div>
  <div class="body">
    <h2 class="title">Order Created</h2>
    <img class="main-img mt-40 mb-40" src="http://localhost:8080/media/sys_master/h4f/205793280013088.png" alt="">
    <p>Your order was created!</p>
    <p>Thank you for your purchase!</p>
    <p>You can now continue using eCart.</p>
    <button class="btn btn-primary" (click)="this.router.navigate(['/home'])">Back to Home page</button>
  </div>
</div>
