@import "../../../common";

main {
  max-width: 1329px;
  margin: 0 auto;
}

.category-data {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  & img {
    width: 100px;
  }
}

.category-products {
  display: flex;
  flex-flow: row wrap;
  gap: 6rem;

  & .product-description {

    & > .product-name {
      font-size: .845rem;
      font-weight: 700;
    }

    & > .product-price {
      font-weight: 700;

      & span {
        font-size: .9375rem;
      }
    }

    & > .product-expire-date {
      color: #979797;

      & > span {
        font-weight: bolder;
      }
    }
  }

  @include add-to-basket;

  & .product-img__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    & img {
      width: 125px;
    }
  }
}
