<app-header [renewedFavouriteProducts$]="favouriteProducts$" [renewedBasketProducts$]="basketProducts$"></app-header>

<ng-container *ngIf="category$ | async as category">
  <main>
    <div class="category-data">
      <div class="breadcrumb-wrapper">
        <app-breadcrumb [breadcrumb]="category.breadcrumb"></app-breadcrumb>
        <h2 class="mb-50 mt-50 text-green">{{category.name}}</h2>
      </div>
      <div class="category-img-wrapper mt-15">
        <img [src]="category.mediaUrl" alt="">
      </div>
    </div>
    <div class="category-products">
      <div class="product" *ngFor="let product of category.products">
        <div class="product-img__wrapper">
          <img class="mb-30" [src]="product.mediaUrl" alt="">
          <a href="javascript:void(0)" (click)="addToFavourites(product.identifier)">
            <fa-icon class="fs-3" [icon]="faHeart" style="color: #c4c5c4;"></fa-icon>
          </a>
        </div>
        <div class="product-description text-center">
          <h6 class="product-name">{{product.name}}</h6>
          <p class="product-expire-date mb-20">Best before:
            <span>{{product.bestBefore | date: 'dd/MM/yyyy'}}</span>
          </p>
          <p class="product-price fs-2 mb-40">{{product.price | currency}} <span>lv.</span></p>
          <a *ngIf="product.showBuyButton && product.stockLevel > 0" (click)="addToBasket(product.identifier)"
             class="add-to-basket"
             href="javascript:void(0)">Add to Basket</a>
        </div>
        <span class="sold-out__text text-red" *ngIf="product.stockLevel <= 0">Out of stock</span>
      </div>
    </div>
  </main>

  <app-footer></app-footer>

</ng-container>
