<footer>
  <div class="social-media-footer">
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100003345156170">
      <fa-icon [icon]=faFacebook></fa-icon>
    </a>
    <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=bradoslav00@gmail.com">
      <fa-icon [icon]=faGoogle></fa-icon>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/radoslav-borisov-13b64823b/">
      <fa-icon [icon]=faLinkedIn></fa-icon>
    </a>
  </div>
  <p>&copy; Copyright 2023 <span>Radoslav</span> All Rights Reserved</p>
</footer>
