@import "../../../common";

.subtotal-price {
  color: white;
  position: relative;
}

.subtotal-price::before,
.subtotal-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.subtotal-price::before {
  transform: rotate(-18deg);
}

.subtotal-price::after {
  transform: rotate(18deg);
}

.subtotal-price.has-discount::before,
.subtotal-price.has-discount::after {
  display: block;
}

@mixin size($point) {
  @if $point == lg-device {
    @media (min-width: 1024px) and (max-width: 1600px) {
      @content;
    }
  } @else if $point == md-device {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $point == sm-device {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v54/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format("woff2");
}

@include checkout-flow-fonts-styles();

* {
  box-sizing: border-box;

  ::before,
  ::after {
    box-sizing: border-box;
  }
}

.cart_wrapper {
  max-width: 1330px;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4);
  margin: auto;
  //overflow: hidden;
  @include size(md-device) {
    max-height: 1000px;
  }
  @include size(sm-device) {
    max-height: unset;
    max-width: 100%;
    margin: 15px;
  }

  // cart_lists
  .cart_lists {
    background-color: #ecf0f1;
    padding: 30px;
    width: calc(100% - 330px);
    flex: 0 0 calc(100% - 330px);
    @include size(md-device) {
      width: 100%;
      flex: 0 0 100%;
    }
    @include size(sm-device) {
      width: 100%;
      flex: 0 0 100%;
      padding: 20px;
    }

    .cart_title {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 400;
      height: 50px;

      span {
        margin-right: 8px;
        padding-right: 8px;
        line-height: 18px;
        border-right: solid 2px #ddd;
      }
    }

    .cart_list_wrap {
      padding: 25px 40px;
      overflow: hidden;
      @include size(sm-device) {
        padding-left: 0;
        padding-right: 0;
      }

      .cart_responsive {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 380px;
        @include size(md-device) {
          max-height: 380px;
        }
        @include size(sm-device) {
          // max-height: 800px;
        }

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #ddd;
        }

        &::-webkit-scrollbar-track {
          background-color: #eee;
        }

        @include checkout-flow-tr-items();
      }

      .footer {
        @include flex-horizontal-center-row();
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 5px;

        .back_cart {
          @include checkout-flow-prev-component-button();
        }

        & .voucher-wrapper {
          @include checkout-flow-form-style();
          @include flex-horizontal-center-row();
          margin-right: 50px;

          & .add-voucher__btn {
            @include modal-save-btn();
          }
        }
      }
    }
  }

  // cart_details
  .product-summary {
    @include checkout-flow-product-summary();

    & .voucher-label {
      @include flex-horizontal-center-row();
      justify-content: space-between;
      margin: 0 1rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .cart_wrapper {
    width: auto;
  }

  .voucher-wrapper {
    flex-flow: row nowrap !important;
    margin-right: 0 !important;
    margin-top: 30px;
  }

  .add-voucher__btn {
    min-width: 145px !important;
  }
}
