<app-checkout-header></app-checkout-header>

<section class="cart_wrapper mt-25">
  <div class="cart_lists">
    <div class="cart_title">
      <span class="material-icons-outlined">local_mall</span>
      Shopping Cart
    </div>

    <div class="cart_list_wrap">
      <div class="cart_responsive">
        <div class="tr_item" *ngFor="let product of renewedBasketProducts$ | async">
          <div class="td_item item_img">
            <img [src]="product.mediaUrl" alt=""/>
          </div>
          <div class="td_item item_name">
            <label class="main">{{product.name}}</label>
            <label class="sub">Ref number: {{product.identifier}}</label>
          </div>
          <div class="td_item item-category__img">
            <a href="javascript:void(0)"
               routerLink="/{{product.categoryName | urlNormalizer}}/c/{{product.categoryIdentifier}}">
              <img [src]="product.categoryMediaUrl" alt="">
            </a>
          </div>
          <div class="td_item item_qty">
            <select [value]="product.quantity" (change)="changeQuantityForProduct(product.identifier, $event)">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="more">More</option>
            </select>

          </div>
          <div class="td_item item_price">
            <label>{{product.price | currency}} lv.</label>
          </div>
          <div class="td_item item_remove">
            <span (click)="removeProductFromBasket(product.identifier)" class="material-icons-outlined">close</span>
          </div>
        </div>

      </div>
      <div class="footer">
        <div class="back_cart">
          <a href="javascript:void(0)" (click)="this.location.back();">
            <span class="material-icons-outlined">west</span>
            Back to Shop
          </a>
        </div>

        <ng-container *ngIf="renewedBasketProducts$ | async as products">
          <div class="voucher-wrapper" *ngIf="products.length > 0">
            <div class="form-controll mr-25">
              <div class="form-input">
                <input type="text" name="voucher" id="voucher" #voucherInput [disabled]="voucher$ | async" required>
                <label for="voucher" #voucherLabel>Voucher</label>
              </div>
            </div>
            <button class="add-voucher__btn" (click)="addVoucher(voucherInput)" [disabled]="voucher$ | async">
              Add Voucher
            </button>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <div class="product-summary text-center" *ngIf="renewedBasketProducts$ | async as products">
    <div class="product-summary__products">
      <div class="product-summary__title text-center">
        Cart Details
      </div>
      <div class="product-row mt-30" *ngFor="let product of products">
        <div class="product-summary__image">
          <img [src]="product.mediaUrl" [alt]="product.name">
        </div>
        <div class="product-summary__quantity">x {{product.quantity}}</div>
        <div class="product-summary__price fs-5">{{product.price * product.quantity | currency}} lv.</div>
      </div>
    </div>

    <div *ngIf="products.length > 0" class="subtotal text-right">
      <label class="fs-5">Subtotal: </label>
      <strong class="fs-4 subtotal-price" [ngClass]="{'subtotal-price' : voucher$ | async}"
              #totalPrice>{{renewedBasketProducts$ | cartBalance | async | currency}}
        lv.</strong>
    </div>

    <ng-container *ngIf="products.length > 0 && voucher$ | async as voucher">
      <div class="voucher-label text-white mb-35">
        <label class="fs-5">Voucher:</label>
        <strong class="fs-4"> {{voucher.name}}</strong>
      </div>
      <div class="voucher-label text-white">
        <label class="fs-5">Total:</label>
        <strong class="fs-4"
                *ngIf="(renewedBasketProducts$ | cartBalance | voucherTotal: voucher | async) > 0; else free">
          {{renewedBasketProducts$ | cartBalance | voucherTotal: voucher | async | currency: 'BGN'}} lv.
        </strong>
      </div>
    </ng-container>
    <ng-template #free>
      <strong class="fs-4">Free</strong>
    </ng-template>

    <button *ngIf="products.length > 0" (click)="this.router.navigate(['/checkout'])" class="btn">Checkout</button>

  </div>
</section>

<app-footer></app-footer>
