$font-family: 'Roboto', sans-serif;
$base-color: #00c5b2;

body {
  background: #f4f6f3;
  font-family: 'Ibarra Real Nova', sans-serif;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

a {
  color: #767A7F;
}

.nav {
  display: block;
  left: 0;
  top: 0;
  position: relative;
  font-size: 1.2rem;
  padding: .7rem;

  max-width: 1250px;
  margin: 0 auto;

  & .nav__logo {
    color: $base-color;
    font-family: $font-family;
    font-weight: 500;
    font-size: 32px;
  }

  a {
    cursor: pointer;
    padding: 1.5rem 2rem;
    display: inline-block;
  }

  &__logo {
    color: #B1B3B5;
    font-size: 1.8rem;
    align-self: center;
    cursor: pointer;
    white-space: nowrap;

    span {
      display: inline-block;
      transform: translateY(0);
    }

    &:hover {
      span {
        animation: .4s bounce ease-in-out;

        &:nth-child(2) {
          animation-delay: .1s;
        }

        &:nth-child(3) {
          animation-delay: .2s;
        }

        &:nth-child(4) {
          animation-delay: .3s;
        }

        &:nth-child(5) {
          animation-delay: .4s;
        }
      }

      &:before {
        transform: translateY(0);
        transition: .3s ease .5s;
      }
    }
  }

  &__elements {
    display: flex;

  }

  &__cart {
    display: inline-block;
    font: 700 1.1rem Oswald;
    letter-spacing: .02rem;
    text-transform: uppercase;
    color: #f9f9f9;
    padding: 1.2rem;
    align-self: center;
  }

  &__groups {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0 !important;
    padding-left: 0;

    background: $base-color;
  }

  &__group {
    z-index: 2;

    > a {
      display: block;
      font-family: $font-family;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: .02rem;
      color: #fff;
    }

    &__dropdown {
      position: absolute;
      visibility: hidden;
      display: none;
      opacity: 0;
      min-width: 450px;
      left: 0;
      padding: 1.5rem 2.5rem 2.5rem;
      background: #fff;
      transition: opacity 1.3s ease-in-out .3s, visibility 1s ease-out;
      text-align: left;
      width: 100%;
    }
  }
}

.product-list-wrapper {
  display: flex;
  min-width: 306.5px;
  min-height: 250px;
  max-height: 250px;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  align-items: center;

  & .category-img__wrapper > img {
    width: 100px;
    height: 100px;
  }
}

.product-list {
  display: flex;
  flex-flow: column wrap;

  a {
    padding: .5rem 0;
    transition: .2s ease;
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      left: 0;
      top: 85%;
      width: 0;
      transition: width .3s ease;
      height: 3px;
      position: absolute;
      background: #292F36;
    }

    &:hover {
      color: #292F36;

      &:before {
        width: 30px;
      }
    }
  }

  &__link {
    padding-right: .5rem;
  }

  &__title {
    width: 100%;
  }

  &.multi {
    display: flex;
    flex-wrap: wrap;

    .product-list__link {
      font-size: 15px;
    }
  }
}

.title {
  margin: 1.2rem 0 0.8rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  letter-spacing: .02rem;
  max-width: 210px;
}

.multi-column {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.article-list {
  width: 100%;
  padding-right: 30%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.3rem;
  padding-left: 0;

  &__title {
    width: 100%;
  }

  &__link {
    flex: 1;
    min-width: 11rem;
    margin-right: 2rem;
    position: relative;
    transition: transform .3s ease;

    &:before {
      content: '';
      width: 3.5px;
      height: 0;
      background: #292F36;
      transition: height .3s ease;
      position: absolute;
      top: .8rem;
      left: -.9rem;
    }

    &:hover {
      transform: translateX(10px);

      a {
        color: #292F36;
      }

      &:before {
        height: 30px;
      }
    }
  }

  a {
    padding: .4rem 0;
  }
}

//hovering

.nav__group {
  a:hover + .nav__group__dropdown,
  .nav__group__dropdown:hover,
  li:hover > .nav__group__dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    padding: 0 12px;
  }
}

.product-image {
  position: absolute;
  max-width: 33%;
  height: 250px;
  object-fit: contain;
  object-position: bottom right;
  bottom: 0;
  right: 0;
  transition: 1.3s ease;
  opacity: 0;
  z-index: 1;

  &[data-match="table"], &[data-match="floor"], &[data-match="plant"] {
    opacity: 1;
  }
}

.product-list {
  &[data-type="chair"]:hover ~ .product-image[data-match="chair"] {
    opacity: 1;
  }

  &[data-type="support"]:hover ~ .product-image[data-match="support"] {
    opacity: 1;
  }

  &[data-type="chair"]:hover ~ .product-image[data-match="chair"] {
    opacity: 1;
  }

  &[data-type="wall"]:hover ~ .product-image[data-match="wall"] {
    opacity: 1;
  }

  &[data-type="window"]:hover ~ .product-image[data-match="window"] {
    opacity: 1;
  }

  &[data-type="cool"]:hover ~ .product-image[data-match="cool"] {
    opacity: 1;
  }

  &[data-type="buddy"]:hover ~ .product-image[data-match="buddy"] {
    opacity: 1;
  }

  &[data-type="items"]:hover ~ .product-image[data-match="items"] {
    opacity: 1;
  }

  &[data-type="pets"]:hover ~ .product-image[data-match="pets"] {
    opacity: 1;
  }
}
