<header>
  <nav class="nav">
    <div class="nav__elements">
      <div class="nav__logo mb-20 mt-30">
        <a href="javascript:void(0)" routerLink="/home">
          <fa-icon [icon]="faCart"></fa-icon>
          eCart
        </a>
      </div>
      <div id="searchbar">
        <input type="text" placeholder="Search">
        <button class="search-btn">
          <fa-icon [icon]="faGlass"></fa-icon>
        </button>
      </div>
      <div class="user-items">
        <a *ngIf="roleIsAdmin()" href="javascript:void(0)" routerLink="/admin/cockpit">
          <fa-icon [icon]="faUserSecret"></fa-icon>
        </a>
        <a *ngIf="!roleIsAdmin()" href="javascript:void(0)">
          <fa-icon [icon]="faUserAlt"></fa-icon>
        </a>
        <a class="fav-btn" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#favourites-modal">
          <fa-icon [icon]="faHeart" style="color: #d60026;"></fa-icon>
          <ng-container *ngIf="favouriteProducts$ | async as products">
            <span class="fav-items__count">{{products.length}}</span>
          </ng-container>
        </a>
        <a class="basket-btn" href="javascript:void(0)" routerLink="/cart">
          <fa-icon [icon]="faBasket" style="color: #c29161;"></fa-icon>
          <ng-container *ngIf="basketProducts$ | async as products">
            <span class="basket-items__count">{{products.length}}</span>
          </ng-container>
        </a>
        <a href="javascript:void(0)" (click)="onLogout($event)">
          <fa-icon [icon]="faSignOut"></fa-icon>
        </a>
      </div>
    </div>
    <ul class="nav__groups">
      <li class="nav__group"><a href="javascript:void(0)" routerLink="/bread/c/P1000" class="nav__group__link">Bread</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title"><a href="javascript:void(0)" routerLink="/freshly-baked/c/P1001">Freshly
                  baked</a></li>
                <li class="product-list__link"><a href="javascript:void(0)"
                                                  routerLink="/baguettes-and-burger-buns/c/P1002">Baguettes and burger
                  buns</a></li>
                <li class="product-list__link"><a href="javascript:void(0)" routerLink="/pastry-breakfast/c/P1003">Pastry
                  breakfast</a></li>
                <li class="product-list__link"><a href="javascript:void(0)" routerLink="/bread-bakery/c/P1004">Bread
                  bakery</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/629750918868050.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/bakery-products/c/P1100">Bakery products</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/baked-bread/c/P1101">Bread</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/protein-bread/c/P1102">Protein Bread</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/wholegrain-bread/c/P1103">Wholegrain bread</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/rusk-and-croutons/c/P1104">Rusk and Croutons</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/858000762828120.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/arabic-bread/c/P1200">Arabic breads</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/901025223493987.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/burger-buns/c/P1300">Sandwich buns</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/033560679002463.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group">
        <a class="nav__group__link" href="javascript:void(0)" routerLink="/fruits-and-vegetables/c/P2000">
          Fruits and Vegetables
        </a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/fruits/c/P2001">Fruits</a></li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/bananas-and-tropical-fruits/c/P2002">
                    Bananas and tropical fruits</a>
                </li>
                <li class="product-list__link"><a href="javascript:void(0)" routerLink="/apples-and-pears/c/P2003">
                  Apples and Pears</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/strawberries-and-forest-fruits/c/P2004">
                    Strawberries and forest fruits
                  </a>
                </li>
                <li class="product-list__link"><a href="javascript:void(0)" routerLink="/citrus/c/P2005">Citrus</a></li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/grapes-and-kiwi/c/P2006">Grapes and Kiwi</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/734576489739008.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/vegetables/c/P2100">Vegetables</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/tomatoes/c/P2101">Tomatoes</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/cucumbers-and-artichoke/c/P2102">
                    Cucumbers and artichoke
                  </a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/salads/c/P2103">Salads</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/carrots-and-root-vegetables/c/P2104">
                    Carrots and root vegetables
                  </a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/potatoes/c/P2105">Potatoes</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/616016759888586.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/mushrooms/c/P2300">Mushrooms</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/fresh-mushrooms/c/P2301">Fresh mushrooms</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/dried-mushrooms/c/P2302">Dried mushrooms</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/069213693746787.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/fresh-herbs/c/P2400">Fresh herbs</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/553425945826270.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group">
        <a class="nav__group__link" href="javascript:void(0)" routerLink="/meat-and-fish/c/P3000">Meat and fish</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/fresh-fish/c/P3001">Fresh fish</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/wild-catch/c/P3002">Wild catch</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/fillets/c/P3003">Fillets</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/cutlets/c/P3004">Cutlets</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/seafood/c/P3005">Seafood</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/432457440246504.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/chicken-meat/c/P3100">Chicken meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/chickens/c/P3101">Chickens</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/fillets-and-steaks/c/P3102">Fillets and steaks</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/marinated-chicken-meat/c/P3103">Marinated chicken meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/chicken-subproducts/c/P3104">Chicken subproducts</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/breaded-chicken-products/c/P3105">
                    Breaded chicken products
                  </a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/759483471687376.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/pork-meat/c/P3200">Pork meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/whole-pieces-of-pork/c/P3201">Whole pieces of pork</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/steaks-and-chopped-meat/c/P3202">Steaks and chopped meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/marinated-pork-meat/c/P3203">Marinated pork meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/bacon-and-lard/c/P3204">Bacon and lard</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/pork-subproducts/c/P3205">Pork subproducts</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/294937129633791.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/veal-and-beef-meat/c/P3300">Veal and beef meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/whole-pieces-of-veal-and-beef/c/P3301">
                    Whole pieces of veal and beef
                  </a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/chopped-meat-and-ribs/c/P3302">Chopped meat and ribs</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/steaks-and-beef-meat/c/P3303">Steaks and beef meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-beef-meat/c/P3304">Organic beef meat</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/052481145093772.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link" routerLink="/dairy-and-eggs/c/P4000">Dairy and eggs</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/eggs/c/P4001">Eggs</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-eggs/c/P4002">Organic eggs</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/pasteurized-eggs/c/P4003">Pasteurized eggs</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/907772119784971.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/fresh-milk/c/P4100">Fresh milk</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/uht-milk/c/P4101">UHT Milk</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-milk/c/P4102">Organic milk</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/lactose-free-milk/c/P4103">Lactose free milk</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/818023124913348.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/yoghurt/c/P4200">Yoghurt</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/cow-milk/c/P4201">Cow milk</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/sheep-goat-buffalo-milk/c/P4202">
                    Sheep, goat and buffalo milk
                  </a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/strained-yoghurt/c/P4203">Strained yoghurt</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-milk/c/P4102">Organic milk</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/lactose-free-milk/c/P4103">Lactose free milk</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/208440294829251.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/gourmet-cheeses/c/P4300">Gourmet cheeses</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/parmesan-and-other-hard-cheeses/c/P4301">
                    Parmesan and other hard cheeses
                  </a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/gouda-and-emmental/c/P4302">Gouda and emmental</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/brie-and-camembert/c/P4303">Brie and camembert</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/blue-cheeses/c/P4304">Blue cheeses</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/130656225303475.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group">
        <a class="nav__group__link" href="javascript:void(0)" routerLink="/packaged-foods/c/P5000">Packaged foods</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/rice-and-beans/c/P5001">Rice and Beans</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/rice/c/P5002">Rice</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/beans/c/P5003">Beans</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/other-grains-and-seeds/c/P5004">Other grains and seeds</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/740399247883583.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/sauce/c/P5100">Sauce</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/pasta-sauces/c/P5101">Pasta sauces</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/pesto-sauces/c/P5102">Pesto sauces</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/ketchup/c/P5103">Ketchup</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/mayonnaise/c/P5104">Mayonnaise</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/mustard/c/P5105">Mustard</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/728044974054028.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/pasta/c/P5200">Pasta</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/spaghetti/c/P5201">Spaghetti</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/lasagna/c/P5202">Lasagna</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/instant/c/P5203">Instant</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/862439549479564.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/breakfast-cereals/c/P5300">Breakfast cereals</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/cornflakes/c/P5301">Cornflakes</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/muesli/c/P5302">Muesli</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/cereals/c/P5303">Cereals</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/granola-and-crunchy-muesli/c/P5304">
                    Granola and crunchy muesli
                  </a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/757534473036019.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group">
        <a class="nav__group__link" href="javascript:void(0)" routerLink="/bio/c/P6000">BIO</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/organic-bread/c/P6001">Organic bread</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-rusks/c/P6002">Organic rusks</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/846824096923289.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/organic-fruits/c/P6100">Organic fruits</a></li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-frozen-fruits/c/P6101">Organic frozen fruits</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-dried-fruits/c/P6102">Organic dried fruits</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-seeds/c/P6103">Organic seeds</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/223720049686569.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/organic-meat/c/P6200">Organic meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-fresh-meat/c/P6201">Organic fresh meat</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-vegan-meat-substitutes/c/P6202">
                    Organic vegan meat substitutes
                  </a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-sausages/c/P6203">Organic sausages</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-eggs/c/P4002">Organic eggs</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/380075914348469.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">
                  <a href="javascript:void(0)" routerLink="/bio-drinks/c/P6300">BIO Drinks</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-coffee/c/P6301">Organic coffee</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-tea/c/P6302">Organic tea</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-drinks/c/P6303">Organic drinks</a>
                </li>
                <li class="product-list__link">
                  <a href="javascript:void(0)" routerLink="/organic-alcohol-drinks/c/P6304">Organic alcohol drinks</a>
                </li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/623258733042354.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Frozen food</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Ice Cream</li>
                <li class="product-list__link"><a>Ice cream in boxes</a></li>
                <li class="product-list__link"><a>Ice cream in cones</a></li>
                <li class="product-list__link"><a>Ice cream buckets</a></li>
                <li class="product-list__link"><a>Ice cream without sugar</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/919648953715354.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Ice Cream Cakes</li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/907045543326082.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Frozen pastries</li>
                <li class="product-list__link"><a>Breads and baguettes</a></li>
                <li class="product-list__link"><a>Frozen pies and snacks</a></li>
                <li class="product-list__link"><a>Frozen croissants and pancakes</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/655689163649524.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Frozen fruits</li>
                <li class="product-list__link"><a>Frozen fruits</a></li>
                <li class="product-list__link"><a>Frozen mixes</a></li>
                <li class="product-list__link"><a>Frozen smoothie mixes</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/448198074009579.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Drinks</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Coffee</li>
                <li class="product-list__link"><a>Specialty coffee</a></li>
                <li class="product-list__link"><a>Coffee beans</a></li>
                <li class="product-list__link"><a>Coffee capsules</a></li>
                <li class="product-list__link"><a>Instant coffee</a></li>
                <li class="product-list__link"><a>Coffee drinks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/170265879364339.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Wine</li>
                <li class="product-list__link"><a>Low alcohol wine</a></li>
                <li class="product-list__link"><a>White wine</a></li>
                <li class="product-list__link"><a>Red wine</a></li>
                <li class="product-list__link"><a>Rose</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/902086300079324.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Beer</li>
                <li class="product-list__link"><a>Craft beer</a></li>
                <li class="product-list__link"><a>Light beer bottle</a></li>
                <li class="product-list__link"><a>Light beer can</a></li>
                <li class="product-list__link"><a>Bright pet beer</a></li>
                <li class="product-list__link"><a>Dark beer</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/693917107735883.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Cocktails</li>
                <li class="product-list__link"><a>Cider</a></li>
                <li class="product-list__link"><a>Cocktails and mixes</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/634403656215585.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="favourites-modal" tabindex="-1" aria-labelledby="favourites-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3" id="favourites-modal-label">Favourite Products</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="(favouriteProducts$ | async)?.length === 0">
          <h2 class="fav-list-empty__message">No products present in the Favourites list!</h2>
        </ng-container>
        <div *ngIf="favouriteProducts$ | async" class="products" #products>
          <div class="product" *ngFor="let product of favouriteProducts$ | async" #productRef>
            <div class="product-attributes">
              <img class="product-media" [src]="product.mediaUrl" alt="">
              <div class="name-wrapper">
                <h4 class="product-name">{{product.name}}</h4>
                <a class="remove-fav mt-10 fs-6" href="javascript:void(0)"
                   (click)="removeProductFromFavourites(productRef, product.identifier)">
                  <span>Remove</span>
                  <fa-icon [icon]="faTrash"></fa-icon>
                </a>
              </div>
            </div>
            <div class="product-actions mb-40">
              <p class="product-price fs-2 mb-20 mt-20">{{product.price | currency}} <span>lv.</span></p>
              <a class="add-to-basket" href="javascript:void(0)" (click)="addProductToBasket(product.identifier)">Add to Basket</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
