<header>
  <nav class="nav">
    <div class="nav__elements">
      <div class="nav__logo mb-20 mt-30">
        <fa-icon [icon]="faCart"></fa-icon>
        eCart
      </div>
    </div>
    <ul class="nav__groups">
      <li class="nav__group"><a class="nav__group__link">Bread</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Freshly baked</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/629750918868050.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Bakery products</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/858000762828120.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Arabic breads</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/901025223493987.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Sandwich buns</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/033560679002463.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Fruits and Vegetables</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Fruits</li>
                <li class="product-list__link"><a>Baguettes, ciabattas and Burger Buns</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/454266974012196.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Vegetables</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/616016759888586.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Mushrooms</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/069213693746787.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Fresh herbs</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/553425945826270.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Meat and fish</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Fresh fish</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/056454468928106.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Chicken meat</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/759483471687376.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Pork meat</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/294937129633791.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Veal and beef meat</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/052481145093772.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Dairy and eggs</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Eggs</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/907772119784971.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Fresh milk</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/818023124913348.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Yoghurt</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/208440294829251.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Gourmet cheeses</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/130656225303475.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Packaged foods</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Rice and Beans</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/740399247883583.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Sauce</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/728044974054028.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Pasta</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/862439549479564.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Breakfast cereals</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/757534473036019.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">BIO</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Organic bread</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/846824096923289.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Organic fruits</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/223720049686569.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Organic meat</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/539004212512557.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">BIO Drinks</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/623258733042354.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Frozen food</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Ice Cream</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/919648953715354.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Ice Cream Cakes</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/907045543326082.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Frozen pastries</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/655689163649524.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Frozen fruits</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/454266974012196.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Drinks</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Coffee</li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Hipster desks</a></li>
                <li class="product-list__link"><a>Corner desks</a></li>
                <li class="product-list__link"><a>Floating desks</a></li>
                <li class="product-list__link"><a>Executive desks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/170265879364339.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Wine</li>
                <li class="product-list__link"><a>Ergonomic chairs</a></li>
                <li class="product-list__link"><a>Swivel chairs</a></li>
                <li class="product-list__link"><a>Armchairs</a></li>
                <li class="product-list__link"><a>Kneeling chairs</a></li>
                <li class="product-list__link"><a>Chaise lounges</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/902086300079324.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Beer</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/693917107735883.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Cocktails</li>
                <li class="product-list__link"><a>Footstools</a></li>
                <li class="product-list__link"><a>Ottomans</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/634403656215585.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </nav>
</header>
