<header>
  <nav class="nav">
    <div class="nav__elements">
      <div class="nav__logo mb-20 mt-30">
        <fa-icon [icon]="faCart"></fa-icon>
        eCart
      </div>
      <div id="searchbar">
        <input type="text" placeholder="Search">
        <button class="search-btn"><fa-icon [icon]="faGlass"></fa-icon></button>
      </div>
      <div class="user-items">
        <fa-icon [icon]="faHeart" style="color: #d60026;"></fa-icon>
        <fa-icon [icon]="faBasket" style="color: #c29161;"></fa-icon>
      </div>
    </div>
    <ul class="nav__groups">
      <li class="nav__group"><a class="nav__group__link">Bread</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Freshly baked</li>
                <li class="product-list__link"><a>Baguettes and burger buns</a></li>
                <li class="product-list__link"><a>Pastry breakfast</a></li>
                <li class="product-list__link"><a>Bread bakery</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/629750918868050.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Bakery products</li>
                <li class="product-list__link"><a>Bread</a></li>
                <li class="product-list__link"><a>Protein Bread</a></li>
                <li class="product-list__link"><a>Wholegrain bread</a></li>
                <li class="product-list__link"><a>Rusk and Croutons</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/858000762828120.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Arabic breads</li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/901025223493987.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Sandwich buns</li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/033560679002463.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Fruits and Vegetables</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Fruits</li>
                <li class="product-list__link"><a>Bananas and tropical fruits</a></li>
                <li class="product-list__link"><a>Apples and Pears</a></li>
                <li class="product-list__link"><a>Strawberries and forest fruits</a></li>
                <li class="product-list__link"><a>Citrus</a></li>
                <li class="product-list__link"><a>Grapes and Kiwi</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/454266974012196.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Vegetables</li>
                <li class="product-list__link"><a>Tomatoes</a></li>
                <li class="product-list__link"><a>Cucumbers and artichoke</a></li>
                <li class="product-list__link"><a>Salads</a></li>
                <li class="product-list__link"><a>Carrots and root vegetables</a></li>
                <li class="product-list__link"><a>Potatoes</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/616016759888586.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Mushrooms</li>
                <li class="product-list__link"><a>Fresh mushrooms</a></li>
                <li class="product-list__link"><a>Dried mushrooms</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/069213693746787.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Fresh herbs</li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/553425945826270.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Meat and fish</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Fresh fish</li>
                <li class="product-list__link"><a>Wild catch</a></li>
                <li class="product-list__link"><a>Fillets</a></li>
                <li class="product-list__link"><a>Cutlets</a></li>
                <li class="product-list__link"><a>Seafood</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/056454468928106.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Chicken meat</li>
                <li class="product-list__link"><a>Chickens</a></li>
                <li class="product-list__link"><a>Fillets and steaks</a></li>
                <li class="product-list__link"><a>Marinated chicken meat</a></li>
                <li class="product-list__link"><a>Chicken subproducts</a></li>
                <li class="product-list__link"><a>Breaded chicken products</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/759483471687376.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Pork meat</li>
                <li class="product-list__link"><a>Whole pieces of pork</a></li>
                <li class="product-list__link"><a>Steaks and chopped meat</a></li>
                <li class="product-list__link"><a>Marinated pork meat</a></li>
                <li class="product-list__link"><a>Bacon and lard</a></li>
                <li class="product-list__link"><a>Pork subproducts</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/294937129633791.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Veal and beef meat</li>
                <li class="product-list__link"><a>Whole pieces of veal and beef</a></li>
                <li class="product-list__link"><a>Chopped meat and ribs</a></li>
                <li class="product-list__link"><a>Steaks and beef meat</a></li>
                <li class="product-list__link"><a>Organic beef meat</a></li>
                <li class="product-list__link"><a>Beef subproducts</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/052481145093772.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Dairy and eggs</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Eggs</li>
                <li class="product-list__link"><a>Eggs</a></li>
                <li class="product-list__link"><a>Organic eggs</a></li>
                <li class="product-list__link"><a>Pasteurized eggs</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/907772119784971.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Fresh milk</li>
                <li class="product-list__link"><a>Fresh milk</a></li>
                <li class="product-list__link"><a>UHT Milk</a></li>
                <li class="product-list__link"><a>Organic milk</a></li>
                <li class="product-list__link"><a>Lactose free milk</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/818023124913348.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Yoghurt</li>
                <li class="product-list__link"><a>Cow milk</a></li>
                <li class="product-list__link"><a>Sheep, goat and buffalo milk</a></li>
                <li class="product-list__link"><a>Strained yoghurt</a></li>
                <li class="product-list__link"><a>Organic milk</a></li>
                <li class="product-list__link"><a>Lactose free milk</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/208440294829251.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Gourmet cheeses</li>
                <li class="product-list__link"><a>Parmesan and other hard cheeses</a></li>
                <li class="product-list__link"><a>Gouda and emmental</a></li>
                <li class="product-list__link"><a>Brie and camembert</a></li>
                <li class="product-list__link"><a>Blue cheeses</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/130656225303475.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Packaged foods</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Rice and Beans</li>
                <li class="product-list__link"><a>Rice</a></li>
                <li class="product-list__link"><a>Beans</a></li>
                <li class="product-list__link"><a>Other grains and seeds</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/740399247883583.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Sauce</li>
                <li class="product-list__link"><a>Pasta sauces</a></li>
                <li class="product-list__link"><a>Pesto sauces</a></li>
                <li class="product-list__link"><a>Ketchup</a></li>
                <li class="product-list__link"><a>Mayonnaise</a></li>
                <li class="product-list__link"><a>Mustard</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/728044974054028.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Pasta</li>
                <li class="product-list__link"><a>Pasta</a></li>
                <li class="product-list__link"><a>Spaghetti</a></li>
                <li class="product-list__link"><a>Lasagna</a></li>
                <li class="product-list__link"><a>Instant</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/862439549479564.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Breakfast cereals</li>
                <li class="product-list__link"><a>Cornflakes</a></li>
                <li class="product-list__link"><a>Muesli</a></li>
                <li class="product-list__link"><a>Cereals</a></li>
                <li class="product-list__link"><a>Granola and crunchy muesli</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/757534473036019.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">BIO</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Organic bread</li>
                <li class="product-list__link"><a>Organic bread and bakery products</a></li>
                <li class="product-list__link"><a>Organic rusks</a></li>
                <li class="product-list__link"><a>Organic fresh pasta and crusts</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/846824096923289.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Organic fruits</li>
                <li class="product-list__link"><a>Organic frozen fruits</a></li>
                <li class="product-list__link"><a>Organic dried fruits</a></li>
                <li class="product-list__link"><a>Organic seeds</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/223720049686569.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Organic meat</li>
                <li class="product-list__link"><a>Organic fresh meat</a></li>
                <li class="product-list__link"><a>Organic vegan meat substitutes</a></li>
                <li class="product-list__link"><a>Organic sausages</a></li>
                <li class="product-list__link"><a>Organic eggs</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/539004212512557.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">BIO Drinks</li>
                <li class="product-list__link"><a>Organic coffee</a></li>
                <li class="product-list__link"><a>Organic tea</a></li>
                <li class="product-list__link"><a>Organic drinks</a></li>
                <li class="product-list__link"><a>Organic alcohol drinks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/623258733042354.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Frozen food</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Ice Cream</li>
                <li class="product-list__link"><a>Ice cream in boxes</a></li>
                <li class="product-list__link"><a>Ice cream in cones</a></li>
                <li class="product-list__link"><a>Ice cream buckets</a></li>
                <li class="product-list__link"><a>Ice cream without sugar</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/919648953715354.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Ice Cream Cakes</li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/907045543326082.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Frozen pastries</li>
                <li class="product-list__link"><a>Breads and baguettes</a></li>
                <li class="product-list__link"><a>Frozen pies and snacks</a></li>
                <li class="product-list__link"><a>Frozen croissants and pancakes</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/655689163649524.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Frozen fruits</li>
                <li class="product-list__link"><a>Frozen fruits</a></li>
                <li class="product-list__link"><a>Frozen mixes</a></li>
                <li class="product-list__link"><a>Frozen smoothie mixes</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/454266974012196.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
      <li class="nav__group"><a class="nav__group__link">Drinks</a>
        <ul class="nav__group__dropdown">
          <div class="multi-column">
            <div class="product-list-wrapper">
              <ul class="product-list multi" data-type="table">
                <li class="product-list__title title">Coffee</li>
                <li class="product-list__link"><a>Specialty coffee</a></li>
                <li class="product-list__link"><a>Coffee beans</a></li>
                <li class="product-list__link"><a>Coffee capsules</a></li>
                <li class="product-list__link"><a>Instant coffee</a></li>
                <li class="product-list__link"><a>Coffee drinks</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/170265879364339.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="chair">
                <li class="product-list__title title">Wine</li>
                <li class="product-list__link"><a>Low alcohol wine</a></li>
                <li class="product-list__link"><a>White wine</a></li>
                <li class="product-list__link"><a>Red wine</a></li>
                <li class="product-list__link"><a>Rose</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/902086300079324.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Beer</li>
                <li class="product-list__link"><a>Craft beer</a></li>
                <li class="product-list__link"><a>Light beer bottle</a></li>
                <li class="product-list__link"><a>Light beer can</a></li>
                <li class="product-list__link"><a>Bright pet beer</a></li>
                <li class="product-list__link"><a>Dark beer</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/693917107735883.png" alt="">
              </div>
            </div>
            <div class="product-list-wrapper pl-15 pr-15">
              <ul class="product-list multi" data-type="support">
                <li class="product-list__title title">Cocktails</li>
                <li class="product-list__link"><a>Cider</a></li>
                <li class="product-list__link"><a>Cocktails and mixes</a></li>
                <li class="product-list__link"><a>Coffee tables</a></li>
                <li class="product-list__link"><a>Shelving Units</a></li>
                <li class="product-list__link"><a>Bookcases</a></li>
              </ul>
              <div class="category-img__wrapper">
                <img src="http://localhost:8080/media/sys_master/h4f/634403656215585.png" alt="">
              </div>
            </div>
          </div>
        </ul>
      </li>
    </ul>
  </nav>
</header>
