<app-admin-header></app-admin-header>

<main>
  <h1 class="text-center mt-40 mb-30">All Categories</h1>
  <div class="create-btn-wrapper">
    <a href="javascript:void(0)" routerLink="/admin/category/create" class="add-btn">Create Category</a>
  </div>
  <div class="categories">
    <div class="category">
      <table>
        <thead>
        <tr>
          <th>Category Image</th>
          <th>Category Identifier</th>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories$ | async">
          <td><img [src]="category.mediaUrl" alt=""></td>
          <td>{{category.identifier}}</td>
          <td>{{category.name}}</td>
          <td id="actions">
            <a class="update" href="javascript:void(0)" [routerLink]="['/admin/categories', category.identifier]">
              <fa-icon [icon]="faWrench"></fa-icon>
            </a>
            <a class="delete" href="javascript:void(0)" (click)="deleteCategory(category.identifier)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
