@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "../../../common";

h1 {
  font-family: 'Poppins', sans-serif;
}

.create-btn-wrapper {
  width: 70%;
  margin: 0 auto 1.5rem auto;
  text-align: right;
}

.add-btn {
  width: 180px;
  min-width: 180px;
  background-color: #455c91;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 1em;
  padding: 8px 30px;
  border-radius: 8px;
  border-bottom: 1px solid #c2c2c2;
}

.categories {
  @include flex-horizontal-center-col;
}

.category {
  @include flex-horizontal-center-row;
  width: 70%;
}

@include table-items;

#actions {
  @include flex-horizontal-center-row;
  gap: 20px;
  font-size: 30px;

  & > .update {
    color: #385596;
    cursor: pointer;
  }

  & > .delete {
    color: gray;
    transition: all 150ms ease-in-out;
    cursor: pointer;
  }

  & > .delete:hover {
    color: #dc3545;
  }

  & > div {
    transition: all 200ms ease-in-out;
  }

  & > div:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
