<app-admin-header></app-admin-header>

<main>
  <h1 class="text-center mt-40 mb-30">All Categories</h1>
  <div class="create-btn-wrapper" *ngIf="categories$ | async as categories">
    <h3>Total Categories: <span>{{categories.totalElements}}</span></h3>
    <mat-paginator style="margin: 24px 0 0 auto;"
                   [length]="categories.totalElements"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   (page)="onPaginationChange($event)"
                   aria-label="Select page">
    </mat-paginator>
    <a href="javascript:void(0)" routerLink="/admin/category/create" class="add-btn">Create Category</a>
  </div>
  <div class="categories">
    <div class="category" *ngIf="categories$ | async as categories">
      <table>
        <thead>
        <tr>
          <th>Category Image</th>
          <th>Category Identifier</th>
          <th>Category Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories.content">
          <td><img [src]="category.mediaUrl" alt=""></td>
          <td>{{category.identifier}}</td>
          <td>{{category.name}}</td>
          <td id="actions" *ngIf="category.identifier != '0000'">
            <a class="update" href="javascript:void(0)" [routerLink]="['/admin/categories', category.identifier]">
              <fa-icon [icon]="faWrench"></fa-icon>
            </a>
            <a class="delete" href="javascript:void(0)" (click)="deleteCategory(category.identifier)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator style="margin: 24px 0 0 auto;"
                     [length]="categories.totalElements"
                     [pageIndex]="pageIndex"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[10, 25, 50, 100]"
                     (page)="onPaginationChange($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</main>

<app-footer *ngIf="categories$ | async"></app-footer>
