<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a href="javascript:void(0)" routerLink="/admin/cockpit">
        <fa-icon class="cart-icon" [icon]="faCart"></fa-icon>
        <h2 class="text-bold-600">eCart</h2>
      </a>
      <div class="user-items">
        <a href="javascript:void(0)" routerLink="/home" style="font-size: 36px;">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
        <a href="javascript:void(0)" (click)="logout()" style="font-size: 36px;">
          <fa-icon [icon]="faSignOut"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</nav>
