$font-family: 'Roboto', sans-serif;
$font-size-base: 0.925rem;
$base-color: #00c5b2;
$text-dark: #3c4250;
$border-color: #eceef3;

$navbar-body-color: #fff;
// $navbar-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
$navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$navbar-padding-y: 1rem;
$navbar-padding-x: 1.15rem;

$navbar-link-hover: $base-color;
$navbar-link-padding-y: 0.5rem;
$navbar-link-padding-x: 1rem;

$navbar-dropdown-padding-y: 0.5rem;
$navbar-dropdown-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$navbar-dropdown-radius: 0.75rem;

$navbar-dropdown-item-padding-y: 0.25rem;
$navbar-dropdown-item-padding-x: 1rem;

$navbar-dropdown-separator-margin-y: 9px;
$navbar-dropdown-separator-color: $border-color;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
}

a {
  text-decoration: none;
}

.cart-icon {
  color: $base-color;
  font-size: 32px;
  margin-right: 10px;
}

.container {
  width: 1170px;
  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 15px;
    right: 15px;
  }
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}

.navbar {
  box-shadow: $navbar-shadow;
  background-color: $navbar-body-color;
  padding: $navbar-padding-y $navbar-padding-x;
  border-bottom: 1px solid $border-color;

  .container {
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > a {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 10px;
    }

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

    > a {
      font-weight: 500;
      color: $text-dark;
    }
  }

  .navbar-dropdown {
    position: relative;
  }
}

.user-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 35px;

  & a {
    color: #36454F;
  }
}

.navbar .navbar-header > a h2 {
  color: $base-color;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
}
