<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <fa-icon class="cart-icon" [icon]="faCart"></fa-icon>
      <a href="javascript:void(0)" routerLink="/admin/cockpit">
        <h2>eCart</h2>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li>
          <a href="#" style="font-size: 32px;">
            <fa-icon [icon]="faSignOut"></fa-icon> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
