<app-header [renewedBasketProducts$]="renewedBasketProducts$"></app-header>

<section class="cart_wrapper mt-25">
  <div class="cart_lists">
    <div class="cart_title">
      <span class="material-icons-outlined">local_mall</span>
      Shopping Cart
    </div>

    <div class="cart_list_wrap">
      <div class="cart_responsive">
        <div class="tr_item" *ngFor="let product of renewedBasketProducts$ | async">
          <div class="td_item item_img">
            <img [src]="product.mediaUrl" alt=""/>
          </div>
          <div class="td_item item_name">
            <label class="main">{{product.name}}</label>
            <label class="sub">Ref number: {{product.identifier}}</label>
          </div>
          <div class="td_item item-category__img">
            <a href="javascript:void(0)"
               routerLink="/{{product.categoryName | urlNormalizer}}/c/{{product.categoryIdentifier}}">
              <img [src]="product.categoryMediaUrl" alt="">
            </a>
          </div>
          <div class="td_item item_qty">
            <p>{{product.quantity}}</p>
          </div>
          <div class="td_item item_price">
            <label>{{product.price | currency}} lv.</label>
          </div>
        </div>

      </div>

      <form class="form">
        <h3 class="form-title text-left">Client Details</h3>
        <div class="grid-2">
          <div class="form-controll">
            <div class="form-input">
              <input type="text" [value]="checkoutData.firstName" name="first_name" id="first_name" disabled required>
              <label for="first_name" style="bottom: 100%;">First Name</label>
            </div>
          </div>
          <div class="form-controll">
            <div class="form-input">
              <input type="text" [value]="checkoutData.lastName" name="last_name" id="last_name" disabled required>
              <label style="bottom: 100%;" for="last_name">Last Name</label>
            </div>
          </div>
        </div>
        <div class="form-controll">
          <div class="form-input">
            <input type="email" [value]="checkoutData.email" name="email" id="email" disabled required>
            <label for="email" style="bottom: 100%;">E-mail</label>
          </div>
        </div>
        <div class="grid-2">
          <div class="form-controll">
            <div class="form-input">
              <input type="text" name="first_name" value="Bulgaria" id="country" disabled required>
              <label style="bottom: 100%;" for="country">Country</label>
            </div>
          </div>
          <div class="form-controll">
            <div class="form-input">
              <input type="text" name="last_name" [value]="checkoutData.city" id="city" disabled required>
              <label for="city" style="bottom: 100%;">City / Village</label>
            </div>
          </div>
        </div>
        <div class="form-controll">
          <div class="form-input">
            <input type="email" name="email" [value]="checkoutData.address" id="address" disabled required>
            <label for="address" style="bottom: 100%;">Address</label>
          </div>
        </div>
      </form>
      <div class="footer">
        <div class="back_cart">
          <a href="javascript:void(0)" (click)="this.location.back();">
            <span class="material-icons-outlined">west</span>
            Checkout
          </a>
        </div>
        <div class="create-order">
          <a href="javascript:void(0)" (click)="createOrder()">Finalize Order</a>
        </div>
      </div>
    </div>
  </div>

  <div class="product-summary text-center" *ngIf="renewedBasketProducts$ | async as products">
    <div class="product-summary__products">
      <div class="product-summary__title text-center">
        Cart Details
      </div>
      <div class="product-row mt-30" *ngFor="let product of products">
        <div class="product-summary__image">
          <img [src]="product.mediaUrl" [alt]="product.name">
        </div>
        <div class="product-summary__quantity">x {{product.quantity}}</div>
        <div class="product-summary__price fs-5">{{product.price | currency}} lv.</div>
      </div>
    </div>

    <div *ngIf="products.length > 0" class="subtotal text-right">
      <label class="fs-5">Subtotal: </label>
      <strong class="fs-4">{{renewedBasketProducts$ | cartBalance | async | currency}} lv.</strong>
    </div>

  </div>
</section>

<app-footer></app-footer>
