@import "../../../common";

@mixin size($point) {
  @if $point == lg-device {
    @media (min-width: 1024px) and (max-width: 1600px) {
      @content;
    }
  } @else if $point == md-device {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $point == sm-device {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v54/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format("woff2");
}

@include checkout-flow-form-style();
.form {
  max-width: unset;
  padding: 15px 50px 15px 0;
}

@media screen and (max-width: 500px) {
  .form {
    padding: 0;
  }
}

.material-icons-outlined {
  font-family: "Material Icons Outlined", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;

  ::before,
  ::after {
    box-sizing: border-box;
  }
}

.cart_wrapper {
  max-width: 1330px;
  width: 100%;
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4);
  margin: auto;
  //overflow: hidden;
  @include size(md-device) {
    max-height: 1000px;
  }
  @include size(sm-device) {
    max-height: unset;
    max-width: 100%;
    margin: 15px;
  }

  // cart_lists
  .cart_lists {
    background-color: #ecf0f1;
    padding: 30px;
    width: calc(100% - 330px);
    flex: 0 0 calc(100% - 330px);
    @include size(md-device) {
      width: 100%;
      flex: 0 0 100%;
    }
    @include size(sm-device) {
      width: 100%;
      flex: 0 0 100%;
      padding: 20px;
    }

    .cart_title {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 400;
      height: 50px;

      span {
        margin-right: 8px;
        padding-right: 8px;
        line-height: 18px;
        border-right: solid 2px #ddd;
      }
    }

    .cart_list_wrap {
      padding: 25px 40px;
      overflow: hidden;
      @include size(sm-device) {
        padding-left: 0;
        padding-right: 0;
      }

      .cart_responsive {
        overflow-x: auto;
        overflow-y: auto;
        max-height: 380px;
        @include size(md-device) {
          max-height: 380px;
        }
        @include size(sm-device) {
          // max-height: 800px;
        }

        &::-webkit-scrollbar {
          width: 4px;
          height: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #ddd;
        }

        &::-webkit-scrollbar-track {
          background-color: #eee;
        }

        .tr_item {
          display: grid;
          grid-template-columns: 80px 3fr 1fr 1fr 120px 50px;
          margin-bottom: 15px;
          transition: all 0.3s linear;
          position: relative;
          transform: scale(0.995);
          @for $i from 1 through 50 {
            &:nth-last-child(#{$i}) {
              animation: listshow linear;
              animation-duration: 1000ms - 180ms * $i;
              transform-origin: top;
              @keyframes listshow {
                0% {
                  opacity: 0;
                  transform: scaleY(0);
                  transform-origin: top;
                }
                50% {
                  transform: scaleY(0);
                }
                100% {
                  opacity: 1;
                  transform: scaleY(1);
                }
              }
            }
          }

          @include size(sm-device) {
            grid-template-columns: 80px auto 80px auto;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            background-color: #d9d9d9;
            width: 0;
            margin: auto;
          }

          @keyframes line {
            0% {
              width: 0;
            }
            100% {
              width: calc(100% - 50px);
            }
          }

          &:hover {
            transform: scale(1);

            &::after {
              width: calc(100% - 50px);
              animation: line 0.5s linear;
            }
          }

          .td_item {
            padding: 10px;
            background-color: #e5e9ea;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            font-weight: 400;
            font-size: 16px;
            color: #666;
            transition: all 0.3s linear;

            &.item-category__img img {
              width: 60px;
            }

            @include size(sm-device) {
              padding: 5px;
            }

            &.item_img {
              @include size(sm-device) {
                grid-row-start: 1;
                grid-row-end: 3;
              }

              img {
                height: 60px;
                width: 60px;
                overflow: hidden;
                border-radius: 100px;
                max-width: 100%;
              }
            }

            &.item_name {
              @include size(sm-device) {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 2;
                grid-column-end: 5;
                width: 100%;
              }

              .main {
                font-size: 16px;
                font-weight: 400;
                color: #666;
              }

              .sub {
                font-size: 12px;
                color: #666;
              }
            }

            &.item_qty {
              select {
                height: 30px;
                background-color: transparent;
                border-color: transparent;
                border-width: 2px;
                outline: none;
                color: #666;
                font-weight: 400;
                font-size: 16px;
                transition: all 0.3s linear;

                &:focus {
                  background-color: #e2e2e2;
                }

                &:hover {
                  border-bottom: solid 2px #e2e2e2;
                }
              }
            }

            &.item_price {
              label {
                margin: auto;
                font-weight: 600;
              }
            }

            &.item_remove {
              background-color: transparent;
              @include size(sm-device) {
                position: absolute;
                right: 0;
                top: 0;
              }

              span {
                font-size: 18px;
                opacity: 0.6;
                padding: 5px;
                cursor: pointer;
                transition: all 0.2s linear;

                &:hover {
                  opacity: 1;
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }

      .footer {
        @include flex-horizontal-center-row();
        justify-content: space-between;
        padding: 20px 5px;

        .back_cart {
          width: 50%;
          flex: 0 0 50%;

          a {
            color: #303030;
            vertical-align: middle;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
              color: #111;

              span {
                animation: arrow 1.5s infinite ease;
              }
            }

            span {
              vertical-align: middle;
              font-size: 18px;
              margin-right: 5px;
            }

            @keyframes arrow {
              0% {
                transform: translateX(0px);
              }
              25% {
                transform: translateX(-2px);
              }
              75% {
                transform: translateX(2px);
              }
              100% {
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }

  // cart_details
  .product-summary {
    background: linear-gradient(45deg, #303030, #4b4643);
    //padding: 30px 40px;
    width: 330px;
    flex: 0 0 330px;
    box-shadow: -8px 0px 32px rgba(0, 0, 0, 0.36);
    position: relative;
    @include size(md-device) {
      width: 100%;
      flex: 0 0 100%;
    }
    @include size(sm-device) {
      width: 100%;
      flex: 0 0 100%;
      padding: 30px;
    }

    .product-summary__products {
      padding: 30px 40px;
    }

    .product-summary__title {
      font-size: 22px;
      color: #f1c40f;
      font-weight: 400;
      margin-bottom: 60px;
      @include size(md-device) {
        margin-bottom: 40px;
      }
    }

    .product-summary__image img {
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }

    .product-summary__quantity {
      color: #ffffff;
      font-weight: 600;
    }

    .product-summary__price {
      color: #ffffff;
    }

    .product-row {
      @include flex-horizontal-center-row();
      justify-content: space-between;
      @include size(md-device) {
        margin-bottom: 40px;
      }
    }

    .subtotal {
      @include flex-horizontal-center-row();
      justify-content: space-between;
      align-items: flex-end;
      flex: 0 0 calc(50% - 50px);
      margin: 20px 1rem 0 1rem;
      text-align: right;
      color: #ffffff;
      font-size: 16px;

      label {
        margin-right: 15px;
      }
    }
  }
}

.create-order > a {
  padding: 8px 32px;
  color: #ffffff;
  background: #00c5b2;
  border-radius: 12px;
  margin-right: 45px;
}
