<app-admin-header></app-admin-header>

<form [formGroup]="createCategoryFormGroup" class="form" (ngSubmit)="createCategory()" novalidate>
  <h3 class="form-title">Create Category</h3>
  <div class="form-controll">
    <div class="form-input">
      <input type="text" name="name" formControlName="name" id="category-name" required>
      <label for="category-name">Category name</label>
    </div>
    <div class="name-messages error-messages text-danger">
      <div *ngIf="name.errors?.['required'] && name.touched">Category name is required.
      </div>
      <div *ngIf="name.errors?.['minlength'] && name.touched">The Category name must be at
        least 4 characters long.
      </div>
      <div *ngIf="name.errors?.['maxlength'] && name.touched">The maximum length of the
        Category name is 40 characters.
      </div>
      <div *ngIf="name.errors?.['namePresent'] && name.touched">
        A Category with the provided Name is already present.
      </div>
    </div>
  </div>
  <div class="grid-2">
    <div class="form-controll">
      <div class="form-input">
        <input type="text" name="categoryIdentifier" formControlName="identifier" id="identifier" required>
        <label for="identifier">Category Identifier</label>
      </div>
      <div class="identifier-messages error-messages text-danger">
        <div *ngIf="identifier.errors?.['required'] && identifier.touched">Identifier is required.</div>
        <div *ngIf="identifier.errors?.['minlength'] && identifier.touched">The Identifier must be at
          least 4 characters long.
        </div>
        <div *ngIf="identifier.errors?.['maxlength'] && identifier.touched">The maximum length of the
          Identifier is 10 characters.
        </div>
        <div *ngIf="identifier.errors?.['identifierPresent'] && identifier.touched">A Category with the provided
          Identifier is already present.
        </div>
      </div>
    </div>
    <div class="form-controll">
      <div class="form-input">
        <input type="text" name="productNamePrefix" formControlName="productNamePrefix" id="product-name-prefix">
        <label for="product-name-prefix">Product Name Prefix</label>
      </div>
      <div class="name-prefix-messages error-messages text-danger">
        <div *ngIf="productNamePrefix.errors?.['maxlength'] && productNamePrefix.touched">The maximum length of the
          Product Name Prefix is 30 characters.
        </div>
      </div>
    </div>
  </div>
  <div id="media-control" class="form-controll">
    <div id="media-form-input" class="form-input">
      <button id="category-media" type="button" (click)="handleMediaUploadClick()">Upload Media</button>
      <button id="find-media" type="button" data-bs-toggle="modal" data-bs-target="#modal">Find Media</button>
      <input (change)="onMediaUpload($event)" name="media" #mediaInput id="category-media-input"
             type="file" accept="image/*"/>
      <label for="category-media">Category Media</label>
    </div>
  </div>
  <ng-container *ngIf="mediaInput.value || selectedMediaFromPickup">
    <img id="preview-img" #previewCategoryMedia style="width: 200px; margin-bottom: 15px;" [src]="this.imageSrc" alt="">
  </ng-container>
  <ng-container *ngIf="this.mediaPath">
    <div class="media-location">
      {{this.mediaPath}}
    </div>
  </ng-container>
  <div class="form-submit">
    <button type="submit" [disabled]="createCategoryFormGroup.invalid">Create</button>
  </div>
</form>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="mediaModal" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Find Media</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="search-wrapper">
          <label style="margin-right: 20px;" for="media-searchbar">Search media:</label>
          <input type="text" id="media-searchbar" #mediaSearchInput (input)="filterMediaByName()" style="width: 380px;">
        </div>
        <div class="medias-response mt-40">
          <table>
            <thead>
            <tr>
              <th>Media</th>
              <th>Media PK</th>
              <th>Media Name</th>
              <th>Media url</th>
            </tr>
            </thead>
            <tbody>
            <tr #row *ngFor="let media of filteredMedias$ | async" (click)="selectCategoryMedia(row, media)">
              <td><img [src]="media.mediaUrl" alt=""></td>
              <td>{{media.pkOfFile}}</td>
              <td>{{media.name}}</td>
              <td>{{media.mediaUrl}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="modal-close-btn" data-bs-dismiss="modal">Close</button>
        <button type="button" id="modal-btn-save" class="btn" (click)="submitMediaSelection()">Save changes</button>
      </div>
    </div>
  </div>
</div>
