<app-admin-header></app-admin-header>

<form [formGroup]="createCategoryFormGroup" class="form" (ngSubmit)="updateCategory()" novalidate>
  <h3 class="form-title">Update Category</h3>
  <div class="form-controll">
    <div class="form-input">
      <input type="text" name="name" formControlName="name" id="category-name" required>
      <label for="category-name">Category name</label>
    </div>
    <div class="confirm-password-messages error-messages text-danger">
      <div *ngIf="name.errors?.['required'] && name.touched">Category name is required.
      </div>
      <div *ngIf="name.errors?.['minlength'] && name.touched">The Category name must be at
        least 5 characters long.
      </div>
      <div *ngIf="name.errors?.['maxlength'] && name.touched">The maximum length of the
        Category name is 40 characters.
      </div>
      <div *ngIf="name.errors?.['namePresent'] && name.touched">
        A Category with the provided Name is already present.
      </div>
    </div>
  </div>
  <div class="grid-2">
    <div class="form-controll">
      <div class="form-input">
        <input type="text" name="categoryIdentifier" formControlName="identifier" id="identifier" required>
        <label for="identifier">Category Identifier</label>
      </div>
      <div class="confirm-password-messages error-messages text-danger">
        <div *ngIf="identifier.errors?.['required'] && identifier.touched">Identifier is required.</div>
        <div *ngIf="identifier.errors?.['minlength'] && identifier.touched">The Identifier must be at
          least 4 characters long.
        </div>
        <div *ngIf="identifier.errors?.['maxlength'] && identifier.touched">The maximum length of the
          Identifier is 10 characters.
        </div>
        <div *ngIf="identifier.errors?.['identifierPresent'] && identifier.touched">A Category with the provided
          Identifier is already present.
        </div>
      </div>
    </div>
    <div class="form-controll">
      <div class="form-input">
        <input type="text" name="productNamePrefix" formControlName="productNamePrefix" id="product-name-prefix">
        <label for="product-name-prefix">Product Name Prefix</label>
      </div>
      <div class="confirm-password-messages error-messages text-danger">
        <div *ngIf="productNamePrefix.errors?.['maxlength'] && productNamePrefix.touched">The maximum length of the
          Product Name Prefix is 30 characters.
        </div>
      </div>
    </div>
  </div>
  <div id="media-control" class="form-controll">
    <div id="media-form-input" class="form-input">
      <button id="category-media" type="button" (click)="handleMediaUploadClick()">Upload Media!</button>
      <img [src]="imageSrc" alt="" style="width: 200px;">
      <input (change)="onMediaUpload($event)" name="media" formControlName="media" #media id="category-media-input"
             type="file" accept="image/*"/>
      <label for="category-media">Category Media</label>
      <div class="media-location">
        {{this.mediaPath}}
      </div>
    </div>
  </div>

  <div class="form-submit">
    <button type="submit" [disabled]="createCategoryFormGroup.invalid">Update</button>
  </div>
</form>
