@import "../../../common";

.top-item {
  margin-top: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  z-index: 20;

  transition: background .5s ease-in;
  background: transparent;
}

header > a {
  text-decoration: none !important;
  font-weight: bold;
  color: #00529c;

  padding-left: 20px;
}

.logo-wrapper {
  @include flex-horizontal-center-row();
}

.img-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.nav-img {
  width: 100px;
}

nav {
  height: 100%;
  position: fixed;
  left: 0;
  width: 320px;

  margin-top: 93px;
  transform: translateX(-320px);
  transition: transform .5s ease-in-out;
  background-color: white;
  border-left: 1px solid #eee;
  z-index: 100;
}

nav ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #eee;
}

nav ul > li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: .25s;
  text-align: center;
}

nav ul > li span {
  display: block;
  font-size: 14px;
  color: #353535;
}

nav ul > li a {
  display: block;
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

nav ul > li:hover {
  background-color: #dddddd;
}

nav li#nav-signup {
  list-style: none;
  background-color: #00B2D3;
}

nav ul > li#nav-signup span {
  color: #00B2D3;
}

nav ul > li#nav-signup a {
  color: #ffffff;
}

nav ul > li#nav-signup:hover {
  background-color: #006375;
}

input[type="checkbox"]:checked ~ nav {
  transform: translateX(0);
  z-index: 40;
}

input[type=checkbox] {
  box-sizing: border-box;
  display: none;
  transition: all 0.25s;
}

.menuIconToggle {
  box-sizing: border-box;
  cursor: pointer;
  z-index: 40;
  top: 35px;
  left: 30px;
  height: 70px;
  width: 70px;

  transition: all 0.3s;
}

.hamburger-icon {
  font-size: 50px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1em;
}

//noinspection DuplicatedCode
.social-media > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 80%;
  padding: 7px;
  width: 20px;
  height: 20px;
  font-size: 1.3em;

  transition: all 200ms ease-in-out;
}

.social-media > a:nth-child(1) {
  color: #4267B2 !important;
  border: 2px solid #4267B2;
}

.social-media > a:nth-child(1):hover {
  background-color: #4267B2;
  color: #fff !important;
}

.social-media > a:nth-child(2) {
  color: #bc2a8d !important;
  border: 2px solid #bc2a8d;
}

.social-media > a:nth-child(2):hover {
  background-color: #bc2a8d;
  color: #fff !important;
}

.social-media > a:nth-child(3) {
  color: #1DA1F2 !important;
  border: 2px solid #1DA1F2;
}

.social-media > a:nth-child(3):hover {
  color: #fff !important;
  background-color: #1DA1F2;
}

.social-media > a:nth-child(4) {
  color: #2867b2 !important;
  border: 2px solid #2867b2;
}

.social-media > a:nth-child(4):hover {
  background-color: #2867b2;
  color: #fff !important;
}

.social-media > a:nth-child(5) {
  background: transparent;
  color: #333 !important;
  border: 2px solid #333;
}

.social-media > a:nth-child(5):hover {
  background-color: #333;
  color: #fff !important;
}

.is-active {
  text-decoration: underline !important;
  text-decoration-color: #561eb6 !important;
  text-decoration-thickness: 3px !important;
  text-underline-offset: 5px !important;
}

@media screen and (max-width: 640px) {
  nav {
    height: 100%;
    width: 100%;
    transform: translateX(100%);
  }
}
