<app-admin-header></app-admin-header>

<form [formGroup]="createMediaGroup" class="form" (ngSubmit)="createMedia()">
  <h3 class="form-title">Create Media</h3>
  <div class="form-controll">
    <div class="form-input">
      <input type="text" name="name" id="name" formControlName="name" required>
      <label for="name">Media Name</label>
    </div>
    <div class="confirm-password-messages error-messages text-danger">
      <div *ngIf="name.errors?.['required'] && name.touched">The media name is required.</div>
      <div *ngIf="name.errors?.['namePresent'] && name.touched">A media with the provided name is already present.</div>
    </div>
  </div>
  <div id="media-control" class="form-controll">
    <div id="media-form-input" class="form-input">
      <button id="category-media" type="button" (click)="handleMediaUploadClick()">Upload Media</button>
      <input (change)="onMediaUpload($event)" name="media" formControlName="media" #mediaInput id="category-media-input"
             type="file" accept="image/*"/>
      <label for="category-media" style="padding-bottom: 12px;">Category Media</label>
    </div>
    <div class="confirm-password-messages error-messages text-danger">
      <div *ngIf="media.errors?.['required'] && media.touched">The media file is required.</div>
    </div>
  </div>
  <ng-container *ngIf="mediaInput.value">
    <img [src]="imageSrc" alt="" style="width: 200px; margin: 0 auto;">
  </ng-container>
  <ng-container *ngIf="this.media.value">
    <div class="media-location mb-15">
      {{this.mediaPath}}
    </div>
  </ng-container>
  <p class="mb-30" style="color: #c2c2c2;font-size: 14px;">Media Type</p>
  <div class="media-subject mb-30">
    <img #categorySelectionElement src="../../../assets/images/Cockpit/categories.png" alt="" (click)="handleTypeSelect(categoryType)">
    <img #productSelectionElement src="../../../assets/images/Cockpit/product.png" alt="" (click)="handleTypeSelect(productType)">
  </div>
  <div class="form-submit">
    <button type="submit">Create</button>
  </div>
</form>
