<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <a class="logo-wrapper" href="javascript:void(0)" [routerLink]="url">
        <fa-icon [icon]="faCart"></fa-icon>
        <h2>eCart</h2>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li routerLinkActive="active"><a href="javascript:void(0)" routerLink="/auth/register">Register</a></li>
        <li routerLinkActive="active"><a href="javascript:void(0)" routerLink="/auth/login">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>
